<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width,minimum-scale=1,maximum-scale=1">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <title>Greetings</title>
  <link href='stylesheets/style.min.css' rel='stylesheet' type='text/css'/>
</head>
<body>
<section class="container">
  <div class="header">
    <div class="ribbon">
      <div class="ribbon-stitches-top collectonme"></div>
      <strong class="ribbon-content">
        <h1 class="ribbon-content-title">Greetings to <%=year%></h1>
      </strong>
      <div class="ribbon-stitches-bottom collectonme"></div>
    </div>
  </div>
  <div class="card collectonme">
    <h1 class="card-title">We are so happy!</h1>

    <div class="card-mittens"></div>
    <a id="prev" class="card-nav prev btn" data-direction="left" href=""></a>
    <a id="next" class="card-nav next btn" data-direction="right" href=""></a>

    <div id='slider' class='swipe'>
      <ul>
        <% for (var i = 0; i < cards.length; i++) { %>
          <li class="card-team-member" data-id="p<%= i + 1%>">
            <figure class="ctm-photo">
              <div class="ctm-photo-mask"><img class="ctm-photo-mask-inner" src="images/person/<%= cards[i].photo%>.jpg" title="<%= cards[i].photo%>"/></div>
            </figure>
            <figcaption class="ctm-photo-descr">
              <p class="ctm-congr-text <%= cards[i].className%>"><%- cards[i].message%></p>
            </figcaption>
          </li>
        <% } %>
      </ul>
    </div>
  </div>
  <nav class="nav">
    <ul id="cardPagination">
      <% for (var i = 0; i < cards.length; i++) { %>
        <li id="p<%= i + 1%>" class="item <%if (!i) { %>g-active<% } %>" data-page="<%= i %>" style="left: <%= 50 * i%>px">
          <img class="person-img" src="images/person/<%= cards[i].photo%>.jpg" title="<%= cards[i].photo%>"/>
        </li>
      <% } %>
    </ul>
  </nav>
  <div class="snowglobe"></div>
  <!--<audio src="/files/asd.mp3" loop autoplay></audio>-->
</section>
<script src='javascripts/core.js'></script>
<script src="javascripts/main.js"></script>
</body>
</html>