@import url('normalize.css');

@font-face {
  font-family: 'MountainsofChristmasRegular';
  src: url('fonts/MountainsofChristmas-webfont.eot');
  src: url('fonts/MountainsofChristmas-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/MountainsofChristmas-webfont.woff') format('woff'), url('fonts/MountainsofChristmas-webfont.ttf') format('truetype'), url('fonts/MountainsofChristmas-webfont.svg#MountainsofChristmasRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'EBGaramondRegular';
  src: url('fonts/EBGaramond-webfont.eot');
  src: url('fonts/EBGaramond-webfont.woff') format('woff'), url('fonts/EBGaramond-webfont.ttf') format('truetype'), url('fonts/EBGaramond-webfont.svg#EBGaramondRegular') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'EBGaramondSC';
  src: url('fonts/EBGaramondSC-webfont.eot');
  src: url('fonts/EBGaramondSC-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/EBGaramondSC-webfont.woff') format('woff'), url('fonts/EBGaramondSC-webfont.ttf') format('truetype'), url('fonts/EBGaramondSC-webfont.svg#EBGaramondSC') format('svg');
  font-weight: normal;
  font-style: normal;

}

body {
  overflow: hidden;
  height: 100%;
  background: #5AA9D4 url(../images/bg.png) repeat-x 0 bottom;
  color: #333;
  font: 16px/24px Arial, Helvetica, sans-serif;
}

.container {
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  height: 100%;
}

.header {
  position: relative;
  overflow: hidden;
  padding: 20px 0 30px;
  height: 112px;
}

.ribbon {
  position: absolute;
  left: 50%;
  margin: 0 0 0 -40%;
  width: 80%;
  background: #DF1A23;
  background: -webkit-gradient(linear, left top, left bottom, from(#ef080f), to(#DF1A23));
  background: -webkit-linear-gradient(top, #ef080f, #DF1A23);
  background: -moz-linear-gradient(top, #ef080f, #DF1A23);
  background: linear-gradient(top, #ef080f, #DF1A23);
  -webkit-box-shadow: rgba(000, 000, 000, 0.3) 0 1px 1px;
  box-shadow: rgba(000, 000, 000, 0.3) 0 1px 1px;
  text-align: center;
  font-family: 'MountainsofChristmasRegular', 'Helvetica Neue', Helvetica, sans-serif;
}

.ribbon:before, .ribbon:after {
  position: absolute;
  bottom: -16.8px;
  z-index: -1;
  display: block;
  border: 42px solid #DF1A23;
  content: '';
}

.ribbon:before {
  left: -514px;
  -webkit-box-shadow: rgba(000, 000, 000, 0.4) 1px 1px 1px;
  box-shadow: rgba(000, 000, 000, 0.4) 1px 1px 1px;
  border-right-width: 500px;
}

.ribbon:after {
  right: -514px;
  -webkit-box-shadow: rgba(000, 000, 000, 0.4) -1px 1px 1px;
  box-shadow: rgba(000, 000, 000, 0.4) -1px 1px 1px;
  border-left-width: 500px;
}

.ribbon .ribbon-content:before, .ribbon .ribbon-content:after {
  position: absolute;
  bottom: -16.4px;
  display: block;
  border-color: #ba141c transparent transparent transparent;
  border-style: solid;
  content: '';
}

.ribbon .ribbon-content:before {
  left: 0;
  border-width: 16.8px 0 0 28px;
}

.ribbon .ribbon-content:after {
  right: 0;
  border-width: 16.8px 28px 0 0;
}

.ribbon-stitches-top {
  margin-top: 2px;
  border-top: 1px dashed rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.3);
  box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.5);
}

.ribbon-stitches-bottom {
  margin-bottom: 2px;
  border-top: 1px dashed rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.3);
  box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.3);
}

.ribbon .ribbon-content-title {
  margin: 0px;
  padding: 0px 10px;
  color: #fff;
  text-shadow: rgba(0, 0, 0, 0.3) 2px 2px 0;
  font-size: 4.125em;
  line-height: 1.1515em;
}

.ribbon-hat {
  position: absolute;
  top: 14px;
  left: 559px;
  width: 36px;
  height: 36px;
  background: url(../images/hat.png) no-repeat 0 0;
}

.card {
  position: relative;
  margin: 0 auto 60px;
  width: 853px;
  height: 340px;
  border-radius: 2px;
  background: #fff;
  box-shadow: 0 0 2px #000;
}

.card-title {
  background: #DF1A23;
  color: #fff;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.3) 2px 2px 0;
  font-size: 2em;
  font-family: 'EBGaramondSC', Arial, Helvetica, sans-serif;
  line-height: 1.5em;
}

.card-mittens {
  position: absolute;
  top: 5px;
  right: 10px;
  z-index: 2;
  width: 73px;
  height: 110px;
  background: url(../images/mittens.png) no-repeat 0 0;
}

.card-mittens:hover {
  -webkit-animation: shake2 .9s ease infinite;
  animation: shake2 .9s ease infinite;
}

.card-mittens.to-left {
  -webkit-animation: flip-left .9s ease;
  animation: flip-left .9s ease;
}

.card-mittens.to-right {
  -webkit-animation: flip-right .9s ease;
  animation: flip-right .9s ease;
}

.card-nav {
  position: absolute;
  top: 50%;
  margin: -30px 0 0;
  width: 30px;
  height: 60px;
  border: none;
  background: none;
  box-shadow: none;
  opacity: 0.6;
}

.card-nav:hover {
  opacity: 1;
}

.next {
  right: -30px;
  background: url(../images/arr_r2.png) no-repeat -15px 0;
}

.prev {
  left: -30px;
  background: url(../images/arr_l2.png) no-repeat -15px 0;
}

.card-team-member {
  display: none;
  padding: 30px 0;
}

.card-team-member:first-child {
  padding: 20px 0;
}

.g-active.card-team-member {
  display: block;
}

.ctm-photo, .ctm-congr {
  display: inline-block;
  width: 40%;
  vertical-align: top;
  text-align: center;
}

.card-team-member:first-child .ctm-photo {
  padding: 0 5%;
  width: auto;
}

.ctm-congr {
  padding: 24px 3% 0 0;
  width: 57%;
}

.ctm-photo-mask {
  display: inline-block;
  overflow: hidden;
  margin-bottom: 10px;
  width: 180px;
  height: 180px;
  border: 2px solid #fff;
  border-radius: 50%;
  background: #fff;
  -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 1);
  text-align: center;
}

.card-team-member:first-child .ctm-photo-mask {
  float: left;
  margin-right: 15px;
  width: 366px;
  height: 250px;
  border: none;
  border-radius: 5px;
}

.ctm-photo-descr {
  color: #333;
  font-size: 1.2em;
  font-family: 'EBGaramondRegular', Arial, Helvetica, sans-serif;
  line-height: 1em;
}

.card-team-member:first-child .ctm-photo-descr {
  margin-top: 60px;
}

.ctm-congr-text {
  font-size: 2em;
  font-family: 'EBGaramondRegular', Arial, Helvetica, sans-serif;
  line-height: 1em;
}

.nav {
  position: relative;
  z-index: 2;
  margin: 0 auto;
  width: 853px;
  height: 80px;
}

.nav-bar__item {
  position: absolute;
  overflow: hidden;
  width: 60px;
  height: 60px;
  border: 2px solid #fff;
  border-radius: 50%;
  background: #fff;
  -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 1);
  text-align: center;
  line-height: 70px;
  cursor: pointer;
}

.g-active.nav-bar__item {
  width: 76px !important;
  height: 76px !important;
}

.person-img {
  height: 60px;
  border-radius: 50%;
}

.g-active .person-img {
  height: 76px;
}

.team {
  left: 50%;
  margin-left: -33px;
  width: 66px;
  height: 66px;
}

.g-active.team {
  margin-left: -43px;
  width: 86px !important;
  height: 86px !important;
}

.team .person-img {
  width: 66px;
  height: 66px;
}

.g-active.team .person-img {
  width: 86px;
  height: 86px;
}

.xxx1 {
  top: -48px;
  left: 167px;
}

.g-active.xxx1 {
  top: -50px;
  left: 158px;
}

.xxx2 {
  top: 7px;
  left: 93px;
}

.g-active.xxx2 {
  top: 0px;
  left: 84px;
}

.xxx3 {
  top: 18px;
  left: 230px;
}

.g-active.xxx3 {
  top: 14px;
  left: 223px;
}

.xxx4 {
  top: -40px;
  left: 10px;
}

.g-active.xxx4 {
  top: -43px;
  left: 1px;
}

.snowglobe {
  position: absolute;
  bottom: -20px;
  left: -20px;
  z-index: 3;
  width: 153px;
  height: 175px;
  background: url(../images/snowglobe.png) no-repeat 0 0;
  cursor: pointer;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-animation: shake .9s ease infinite;
  animation: shake .9s ease infinite;
}

@-webkit-keyframes shake {
  50% {
    -webkit-transform: rotate(46deg);
  }
}

@keyframes shake {
  50% {
    transform: rotate(46deg);
  }
}

@-webkit-keyframes shake2 {
  50% {
    -webkit-transform: rotate(3deg);
  }
}

@keyframes shake2 {
  50% {
    transform: rotate(3deg);
  }
}

@-webkit-keyframes flip-left {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes flip-left {
  100% {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes flip-right {
  100% {
    -webkit-transform: rotate(-360deg);
  }
}

@keyframes flip-right {
  100% {
    transform: rotate(-360deg);
  }
}

.swipe {
  position: relative;
  z-index: 1;
  -webkit-perspective: 1000;
  -webkit-backface-visibility: hidden;
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  /* Styles */
  .snowglobe {
    width: 131px;
    height: 150px;
    -webkit-background-size: cover;
  }

  .g-active.team {
    top: -10px;
  }

  .xxx3 {
    top: 14px;
    left: 230px;
  }

  .g-active.xxx3 {
    top: 0px;
    left: 223px;
  }
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  /* Styles */
  .header {
    padding-bottom: 100px;
  }

  .card, .nav {
    width: 768px;
  }

  .card-nav {
    z-index: 3;
  }

  .prev {
    left: 10px;
  }

  .next {
    right: 10px;
  }

  .team {
    left: 50%;
    margin-left: -33px;
    width: 66px;
    height: 66px;
  }

  .g-active.team {
    margin-left: -43px;
    width: 86px !important;
    height: 86px !important;
  }

  .team .person-img {
    height: 66px;
  }

  .g-active.team .person-img {
    height: 86px;
  }

  .xxx1 {
    top: -48px;
    left: 147px;
  }

  .g-active.xxx1 {
    top: -50px;
    left: 138px;
  }

  .xxx2 {
    top: 37px;
    left: 83px;
  }

  .g-active.xxx2 {
    top: 30px;
    left: 74px;
  }

  .xxx3 {
    top: 24px;
    left: 200px;
  }

  .g-active.xxx3 {
    top: 20px;
    left: 193px;
  }

  .xxx4 {
    top: -40px;
    left: 10px;
  }

  .g-active.xxx4 {
    top: -43px;
    left: 1px;
  }
}




